[core]
	editor = nvim
[user]
	email = clemente.varo@gmail.com
	name = Alvaro Clemente
[alias]
	lol = log --graph --oneline --abbrev-commit --all
	lr = log --graph --oneline --abbrev-commit --all -10
	co = checkout
	ci = commit
	st = status
	br = branch
	dc = diff --cached
	ff = merge --ff-only
    can = commit --amend --no-edit
	lold = log --graph --pretty=format:\"%h%x09%an%x09%ad%x09%s\"
	ss = status -s
	sync = !git switch main && git pull --prune && git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -D
[pull]
	rebase = false
[init]
	defaultBranch = main
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	sort = -committerdate
